html, body, .ul_menu{
font-family: "Meiryo","Hiragino Maru Gothic Pro",sans-serif !important;
}

h3{
	border-bottom: 2px dotted #5a544b;
}

.post_title{
	border-bottom: 2px dotted #5a544b;
}

.ul_menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#header1{
	position: fixed;
	width: 100%;
	height: 85px;
	background-color: #1f3134;
	color: #ffffff !important;
	margin:0;
	padding: 0 0 0 15px;
	top: 0;
	z-index: 10;
}

.h_h1{
	color: #ffffff;
}

.h_s{
	position: fixed;
	top: 0;
	right:0;
	padding: 20px 15px 0 0;
	color: #ffffff !important;
	z-index: 11;
}

.h_circle{
text-align: center;
	  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  line-height: 50px;
}

.li_menu{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: solid #b2b2b2;
	border-width: 1px 0 0 0;
	padding: 15px 0 15px 10px;
}

.ul_menu:last-child{
	border-bottom: 1px solid #b2b2b2;
}


.post_item{
	list-style: none;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}


.footer{
	background: #1f3134 !important;
	color: #ffffff;
}

.footer a{
	color: #f39800;
}

.footer_link{
	border-bottom: 1px dotted #f39800;
}

.footer_link:hover{
	border-bottom: none;
}

.circle1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #1DA1F2;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.circle2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #000;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.circle3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #006e54;
  line-height: 50px;
  display: inline-block;
  font-size: 1.25em;
}

.circle4{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #f2a0a1;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.post_tag{
	color: #0077b8;
}

.fa-tags{
	margin-right: 3px;
}

.post_date{
	padding-top: 3px !important;
}

#pre_next{
	display: inline-block;
	margin: 25px 0 25px 0;
}

#pre_next:hover{
	color: #0077b8 !important;
}

.pre_next_list{
	text-align: center;
	border-top: 1px solid #94846a;
	border-bottom: 1px solid #94846a;
}

.fa-chevron-left, .fa-chevron-right{
	color: #94846a;
}

#sns_settei{
	display: inline-block;
}

/* Facebook調整 */
.fb_iframe_widget > span {
		vertical-align: baseline !important;
}