html, body, .ul_menu {
  font-family: "Meiryo", "Hiragino Maru Gothic Pro", sans-serif !important;
}

h3 {
  border-bottom: 2px dotted #5a544b;
}

.post_title {
  border-bottom: 2px dotted #5a544b;
}

.ul_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header1 {
  position: fixed;
  width: 100%;
  height: 85px;
  background-color: #1f3134;
  color: #ffffff !important;
  margin: 0;
  padding: 0 0 0 15px;
  top: 0;
  z-index: 10;
}

.h_h1 {
  color: #ffffff;
}

.h_s {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 15px 0 0;
  color: #ffffff !important;
  z-index: 11;
}

.h_circle {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  line-height: 50px;
}

.li_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid #b2b2b2;
  border-width: 1px 0 0 0;
  padding: 15px 0 15px 10px;
}

.ul_menu:last-child {
  border-bottom: 1px solid #b2b2b2;
}

.post_item {
  list-style: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer {
  background: #1f3134 !important;
  color: #ffffff;
}

.footer a {
  color: #f39800;
}

.footer_link {
  border-bottom: 1px dotted #f39800;
}

.footer a:hover {
  color: #fef263 !important;
}

.footer_link:hover {
  border-bottom: none;
}

.circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #1DA1F2;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #000;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.circle3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #006e54;
  line-height: 50px;
  display: inline-block;
  font-size: 1.25em;
}

.circle4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #f2a0a1;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px 20px 0;
  font-size: 1.25em;
}

.post_tag {
  color: #0077b8;
}

.fa-tags {
  margin-right: 3px;
}

.post_date {
  padding: 0 !important;
}

#pre_next {
  display: inline-block;
  margin: 25px 0 25px 0;

}


.pre_next_list {
  text-align: center;
  border-top: 1px solid #94846a;
  border-bottom: 1px solid #94846a;
  padding: 0 !important;
}

<!-- #next_cont{
  text-align: left !important;
  margin: 0;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}

#pre_cont{
  text-align: right !important;
  margin: 0;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}

#next_title{
  display: inline-block;
}

.link-reverse img{
  display: inline-block;
  width: 100px;
}-->

.fa-chevron-left, .fa-chevron-right {
  color: #94846a;
}

#sns_settei {
  display: inline-block;
}

.fb_iframe_widget>span {
  vertical-align: baseline !important;
}

.post_tag {
  padding: 0px 5px 0px 0px !important;
  margin: 0px !important;
}

#post_mtag{
  margin-left: .5em !important;
  padding: 0px !important;
}

.title {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.linka {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.linka:hover {
  color: #2ca9e1;
  border-bottom: none;
}

.linka::after {
  margin-left: 3px;
  content: '\f08e';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  display: inline-block;
}

.linkb {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.linkb:hover {
  color: #2ca9e1;
  border-bottom: none;
}

.linkb::before {
  margin-left: 3px;
  content: '\f26c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  display: inline-block;
}

.link_div {
  border: 1px solid #d5dfe6;
  padding: 1.2em;
  border-radius: .5em;
}

.linkz {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.linkz:hover {
  color: #2ca9e1;
  border-bottom: none;
}

.linkz::before {
  margin-right: 3px;
  content: '\e163';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  display: inline-block;
}

.linkb {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.linkb:hover {
  color: #2ca9e1;
  border-bottom: none;
}

/* 見出し１ */
.heading1 {
  position: relative;
  padding-bottom: 10px;
  font-size: 26px;
}

.heading1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #b4a983 0px, #b4a983 1px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  background-size: 8px 8px;
}

/* 見出し２ */
.heading2 {
  position: relative;
  padding-left: 30px;
  color:#153c6e;
  margin-bottom: 0;
}

.heading2:before {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f121";
  background: #c9e2ff;
  color: #153c6e;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ブログカード */
.blcard {
  border: 1px solid #d5dfe6;
  padding: .5em 1.2em 0 1.2em;
  border-radius: .5em;
  display: flex;
  margin: 1em;
}

.blcard-content {
  display: inline-block;
  width: 70%;
}

.blcard-content a {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.blcard-content a:hover {
  color: #2ca9e1;
  border-bottom: none;
}

.blcard-title {
  margin-bottom: 10px;
}

.blcard-excerpt {
  color: #b3ada0;
  font-size: .8em;
  margin-right: .5em;

}

.blcard-thumbnail {
  width: 30%;
  display: inline-block;
  max-width: 150px !important;

}

@media screen and (max-width: 767px) {
  .blcard {
    padding: .8em;
  }

  .blcard-title {
    font-size: .8em;
  }

  .blcard-thumbnail {
    width: 120px !important;
  }

  .blcard-excerpt {
    margin-right: .1em !important;
  }
}

.related{
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  margin: 0;
  padding: 0 .2em 0 .2em;
  width: 50%;

}

ul,li{
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;
}

/* 吹き出し  */
.balloon {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

.balloon:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff0c6;
  border-radius: 50%;
}

.balloon:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #fff0c6;
  border-radius: 50%;
}
.balloon p {
  margin: 0; 
  padding: 0;
  color: #000;
}

/* 黒板　テーブル */
.kokuban-t2 {
 position: relative;
 margin: 2em auto;
 padding: 3.2em 1em 1em;
 width: 90%; 
 background-color: #006633; 
 color: #fff;
 border: 8px solid #b2771f;
 border-radius: 3px; 
 box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}

@media screen and (max-width: 767px) {
  .kokuban-t2 {
    width: 100%;
  }
}

.kokuban-t2::before,
.kokuban-t2::after {
 position: absolute;
 content: '';
 bottom: 0;
} 
.kokuban-t2::before {
 right: 10px;
 border: solid 3px #fff; 
 width: 20px; 
 border-radius: 3px 2px 0 2px;
}
.kokuban-t2::after {
 right: 40px;
 border: solid 3px #ffff6b; 
 width: 15px; 
 border-radius: 8px 5px 2px 5px;
}
.title-t2 {
 position: absolute;
 left: 1em;
 top: .5em;
 font-weight: bold;
 font-size: 1.1em;
 color: #ffff6b;
}

.post_date{
  font-size: .9rem;
}

/*  reading time */
#article_time{
  font-size: .9rem;
  color: #8f2e14;
  border: 1px solid #8f2e14 !important;
  padding: .2rem !important;
}

.at{
  text-align: right;
}

/* 投稿カレンダー */
#post_calendar:before {
  position: relative;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f073";
  left: 0;
  margin-right: 3px;
}

/* パンくずリスト */
.breadcrumb {
  padding: .2em 0 0 0 !important;

}
.breadcrumb li {
  display: inline;
  list-style: none;
}
.breadcrumb li:not(:last-child)::after {
  content: "・";
  padding: 0 0.2em;
}
.breadcrumb li a{
  border-bottom: 1px dotted;
}

#button{
  background: #2477b8;
  color: #ffffff;
  padding: .2em .3em;
  margin-bottom: .3em;
  border-radius: .3em;
}

#button:hover{
  background: #0b3552;
}
